.box table {
    width: 100% ! important;
}
.box table tr {
    width: 100% ! important;
}
.verMgr tr td:nth-child(1) {
    width: 136.6px;
}
.verMgr tr td:nth-child(2) {
    width: 15%;
}
.verMgr tr td:nth-child(3) {
    width: 10%;
}
.verMgr tr td:nth-child(4) {
    width: 25%;
}
.verMgr tr td:nth-child(5) {
    width: 10%;
}
.verMgr tr td:nth-child(6) {
    width: 30%;
}
.box table tr td div {
    margin-left: 30px ! important;
}