/*canvas {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*border: 1px solid gray;*/
    /*position: absolute;*/
    /*top: 200px;*/
    /*right: 500px;*/
    /*float: right;*/
/*}*/
canvas{
    position: relative;
    top: 0;
    right: 500px;
    float:right;
    border:0px solid #ccc;
}
