<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fjnu.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="edu.fjnu.entity.Employee">
    <id column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_sex" jdbcType="VARCHAR" property="empSex" />
    <result column="emp_duty" jdbcType="VARCHAR" property="empDuty" />
    <result column="emp_department" jdbcType="VARCHAR" property="empDepartment" />
    <result column="emp_phone" jdbcType="VARCHAR" property="empPhone" />
    <result column="emp_email" jdbcType="VARCHAR" property="empEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    emp_id, emp_name, emp_sex, emp_duty, emp_department, emp_phone, emp_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </select>
  <select id="findAllEmployee" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_emp
    order by emp_id
  </select>
  <select id="findByEmpName" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_emp p
    <where>
      <if test="searchEmpName!=null">and p.emp_name like concat('%', #{searchEmpName}, '%')</if>
    </where>
    order by emp_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.fjnu.entity.Employee">
    insert into tb_emp (emp_id, emp_name, emp_sex, 
      emp_duty, emp_department, emp_phone, 
      emp_email)
    values (#{empId,jdbcType=INTEGER}, #{empName,jdbcType=VARCHAR}, #{empSex,jdbcType=VARCHAR}, 
      #{empDuty,jdbcType=VARCHAR}, #{empDepartment,jdbcType=VARCHAR}, #{empPhone,jdbcType=VARCHAR}, 
      #{empEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.fjnu.entity.Employee">
    insert into tb_emp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        emp_id,
      </if>
      <if test="empName != null">
        emp_name,
      </if>
      <if test="empSex != null">
        emp_sex,
      </if>
      <if test="empDuty != null">
        emp_duty,
      </if>
      <if test="empDepartment != null">
        emp_department,
      </if>
      <if test="empPhone != null">
        emp_phone,
      </if>
      <if test="empEmail != null">
        emp_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        #{empSex,jdbcType=VARCHAR},
      </if>
      <if test="empDuty != null">
        #{empDuty,jdbcType=VARCHAR},
      </if>
      <if test="empDepartment != null">
        #{empDepartment,jdbcType=VARCHAR},
      </if>
      <if test="empPhone != null">
        #{empPhone,jdbcType=VARCHAR},
      </if>
      <if test="empEmail != null">
        #{empEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.fjnu.entity.Employee">
    update tb_emp
    <set>
      <if test="empName != null">
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        emp_sex = #{empSex,jdbcType=VARCHAR},
      </if>
      <if test="empDuty != null">
        emp_duty = #{empDuty,jdbcType=VARCHAR},
      </if>
      <if test="empDepartment != null">
        emp_department = #{empDepartment,jdbcType=VARCHAR},
      </if>
      <if test="empPhone != null">
        emp_phone = #{empPhone,jdbcType=VARCHAR},
      </if>
      <if test="empEmail != null">
        emp_email = #{empEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.fjnu.entity.Employee">
    update tb_emp
    set emp_name = #{empName,jdbcType=VARCHAR},
      emp_sex = #{empSex,jdbcType=VARCHAR},
      emp_duty = #{empDuty,jdbcType=VARCHAR},
      emp_department = #{empDepartment,jdbcType=VARCHAR},
      emp_phone = #{empPhone,jdbcType=VARCHAR},
      emp_email = #{empEmail,jdbcType=VARCHAR}
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
</mapper>