<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fjnu.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="edu.fjnu.entity.Item">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_num" jdbcType="VARCHAR" property="itemNum" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_state" jdbcType="VARCHAR" property="itemState" />
    <result column="item_start_date" jdbcType="DATE" property="itemStartDate" />
    <result column="item_deadline" jdbcType="DATE" property="itemDeadline" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="item_content" jdbcType="VARCHAR" property="itemContent" />
  </resultMap>
  <sql id="Base_Column_List">
    item_id, item_num, item_name, item_state, item_start_date, item_deadline, user_account, 
    item_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <select id="findAllItem" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_item
    order by item_id
  </select>
  <select id="findByItemName" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_item p
    <where>
      <if test="searchItemName!=null">and p.item_name like concat('%', #{searchItemName}, '%')</if>
    </where>
    order by item_id
  </select>
  <select id="selectNextAutoId" resultType="int">
    select Auto_increment
    from information_schema.`TABLES`
    where table_name = 'tb_item'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.fjnu.entity.Item">
    insert into tb_item (item_id, item_num, item_name, 
      item_state, item_start_date, item_deadline, 
      user_account, item_content)
    values (#{itemId,jdbcType=INTEGER}, #{itemNum,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemState,jdbcType=VARCHAR}, #{itemStartDate,jdbcType=DATE}, #{itemDeadline,jdbcType=DATE}, 
      #{userAccount,jdbcType=VARCHAR}, #{itemContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.fjnu.entity.Item">
    insert into tb_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemNum != null">
        item_num,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemState != null">
        item_state,
      </if>
      <if test="itemStartDate != null">
        item_start_date,
      </if>
      <if test="itemDeadline != null">
        item_deadline,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="itemContent != null">
        item_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemNum != null">
        #{itemNum,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemState != null">
        #{itemState,jdbcType=VARCHAR},
      </if>
      <if test="itemStartDate != null">
        #{itemStartDate,jdbcType=DATE},
      </if>
      <if test="itemDeadline != null">
        #{itemDeadline,jdbcType=DATE},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="itemContent != null">
        #{itemContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.fjnu.entity.Item">
    update tb_item
    <set>
      <if test="itemNum != null">
        item_num = #{itemNum,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemState != null">
        item_state = #{itemState,jdbcType=VARCHAR},
      </if>
      <if test="itemStartDate != null">
        item_start_date = #{itemStartDate,jdbcType=DATE},
      </if>
      <if test="itemDeadline != null">
        item_deadline = #{itemDeadline,jdbcType=DATE},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="itemContent != null">
        item_content = #{itemContent,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.fjnu.entity.Item">
    update tb_item
    set item_num = #{itemNum,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_state = #{itemState,jdbcType=VARCHAR},
      item_start_date = #{itemStartDate,jdbcType=DATE},
      item_deadline = #{itemDeadline,jdbcType=DATE},
      user_account = #{userAccount,jdbcType=VARCHAR},
      item_content = #{itemContent,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>