<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fjnu.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="edu.fjnu.entity.User">
    <id column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_authority_id" jdbcType="VARCHAR" property="userAuthorityId" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_qq_account" jdbcType="VARCHAR" property="userQqAccount" />
    <result column="user_face_avatar" jdbcType="LONGVARBINARY" property="userFaceAvatar" />
  </resultMap>
  <sql id="Base_Column_List">
    user_account, user_name, user_password, user_sex, user_phone, user_email, user_authority_id,
    user_avatar, user_qq_account,user_face_avatar
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </select>
  <select id="findAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user
    order by user_account
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.fjnu.entity.User">
    insert into tb_user (user_account, user_name, user_password,
    user_sex, user_phone, user_email,
    user_authority_id, user_avatar, user_qq_account,
    user_face_avatar)
    values (#{userAccount,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
    #{userSex,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR},
    #{userAuthorityId,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR}, #{userQqAccount,jdbcType=VARCHAR},
    #{userFaceAvatar,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="edu.fjnu.entity.User">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userAuthorityId != null">
        user_authority_id,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
      <if test="userQqAccount != null">
        user_qq_account,
      </if>
      <if test="userFaceAvatar != null">
        user_face_avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAuthorityId != null">
        #{userAuthorityId,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userQqAccount != null">
        #{userQqAccount,jdbcType=VARCHAR},
      </if>
      <if test="userFaceAvatar != null">
        #{userFaceAvatar,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.fjnu.entity.User">
    update tb_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAuthorityId != null">
        user_authority_id = #{userAuthorityId,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userQqAccount != null">
        user_qq_account = #{userQqAccount,jdbcType=VARCHAR},
      </if>
      <if test="userFaceAvatar != null">
        user_face_avatar = #{userFaceAvatar,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.fjnu.entity.User">
    update tb_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_authority_id = #{userAuthorityId,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_qq_account = #{userQqAccount,jdbcType=VARCHAR}
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </update>
</mapper>